<!-- app/templates/auth/profile.html -->
{% extends "auth/base.html" %}

{% block title %}Perfil{% endblock %}

{% block content %}
<div class="max-w-2xl mx-auto">
    <div class="bg-white p-8 rounded-lg shadow-md">
        <h2 class="text-2xl font-bold mb-6 text-gray-800">Mi Perfil</h2>
        
        <form method="POST" action="{{ url_for('user_routes.update_profile') }}" class="space-y-4">
            <div>
                <label class="block text-gray-700 mb-2">Nombre Completo</label>
                <input type="text" name="name" value="{{ current_user.name }}"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-green-500">
            </div>

            <div>
                <label class="block text-gray-700 mb-2">Email</label>
                <input type="email" value="{{ current_user.email }}" disabled
                    class="w-full px-4 py-2 border rounded-lg bg-gray-100">
            </div>

            <div>
                <label class="block text-gray-700 mb-2">Edad</label>
                <input type="number" name="age" value="{{ current_user.age }}"
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-green-500">
            </div>


            <div>
                <label class="block text-gray-700 mb-2">Ubicación</label>
                <select name="location" required
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-green-500">
                    <option value="">Seleccione un estado</option>
                    {% set states = [
                        ('AL', 'Alabama'), ('AK', 'Alaska'), ('AZ', 'Arizona'),
                        ('AR', 'Arkansas'), ('CA', 'California'), ('CO', 'Colorado'),
                        ('CT', 'Connecticut'), ('DE', 'Delaware'), ('FL', 'Florida'),
                        ('GA', 'Georgia'), ('HI', 'Hawaii'), ('ID', 'Idaho'),
                        ('IL', 'Illinois'), ('IN', 'Indiana'), ('IA', 'Iowa'),
                        ('KS', 'Kansas'), ('KY', 'Kentucky'), ('LA', 'Louisiana'),
                        ('ME', 'Maine'), ('MD', 'Maryland'), ('MA', 'Massachusetts'),
                        ('MI', 'Michigan'), ('MN', 'Minnesota'), ('MS', 'Mississippi'),
                        ('MO', 'Missouri'), ('MT', 'Montana'), ('NE', 'Nebraska'),
                        ('NV', 'Nevada'), ('NH', 'New Hampshire'), ('NJ', 'New Jersey'),
                        ('NM', 'New Mexico'), ('NY', 'New York'), ('NC', 'North Carolina'),
                        ('ND', 'North Dakota'), ('OH', 'Ohio'), ('OK', 'Oklahoma'),
                        ('OR', 'Oregon'), ('PA', 'Pennsylvania'), ('RI', 'Rhode Island'),
                        ('SC', 'South Carolina'), ('SD', 'South Dakota'), ('TN', 'Tennessee'),
                        ('TX', 'Texas'), ('UT', 'Utah'), ('VT', 'Vermont'),
                        ('VA', 'Virginia'), ('WA', 'Washington'), ('WV', 'West Virginia'),
                        ('WI', 'Wisconsin'), ('WY', 'Wyoming')
                    ] %}
                    {% for code, name in states %}
                        <option value="{{ code }}" {% if current_user.location == code %}selected{% endif %}>
                            {{ name }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <!-- Hidden fields for latitude and longitude -->
            <input type="hidden" id="latitude" name="latitude" value="{{ current_user.latitude if current_user.latitude else '' }}">
            <input type="hidden" id="longitude" name="longitude" value="{{ current_user.longitude if current_user.longitude else '' }}">

            <div>
                <label class="block text-gray-700 mb-2">Condiciones Médicas</label>
                <div class="grid grid-cols-2 md:grid-cols-3 gap-4 bg-gray-100 p-2 rounded-md">
                    {% set user_conditions = current_user.medical_condition.split(',') if current_user.medical_condition else [] %}
                    {% set conditions = [
                        ('asthma', 'Asma'),
                        ('allergies', 'Alergias'),
                        ('cardiovascular', 'Problemas Cardiovasculares'),
                        ('respiratory', 'Problemas Respiratorios'),
                        ('diabetes', 'Diabetes'),
                        ('chronic_obstructive_pulmonary_disease', 'EPOC'),
                        ('lung_cancer', 'Cáncer de Pulmón'),
                        ('stroke', 'Accidente Cerebrovascular'),
                        ('chronic_bronchitis', 'Bronquitis Crónica'),
                        ('emphysema', 'Enfisema'),
                        ('pneumonia', 'Neumonía'),
                        ('hypertension', 'Hipertensión'),
                        ('heart_disease', 'Enfermedad del Corazón'),
                        ('immune_system_disorders', 'Trastornos del Sistema Inmunológico'),
                        ('pregnancy', 'Embarazo'),
                        ('children', 'Niños'),
                        ('elderly', 'Ancianos'),
                        ('chronic_fatigue', 'Fatiga crónica'),
                        ('frequent_headache', 'Dolor de cabeza frecuente'),
                        ('eye_irritation', 'Irritación ocular'),
                        ('persistent_cough', 'Tos persistente'),
                        ('breathing_difficulty', 'Dificultad para respirar'),
                        ('sleep_disorders', 'Alteraciones del sueño'),
                        ('concentration_problems', 'Problemas para concentrarte')
                    ] %}
                    {% for value, label in conditions %}
                    <div class="flex items-center h-10 px-2 bg-white rounded hover:bg-gray-50">
                        <input type="checkbox" 
                               id="{{ value }}" 
                               name="medical_condition" 
                               value="{{ value }}"
                               {% if value in user_conditions %}checked{% endif %}
                               class="h-5 w-5 text-green-600 focus:ring-green-500 border-gray-300 rounded">
                        <label for="{{ value }}" class="ml-2 block text-sm text-gray-700">
                            {{ label }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
            </div>



            <button type="submit"
                class="w-full bg-green-600 text-white py-2 rounded-lg hover:bg-green-700 transition duration-200">
                Actualizar Perfil
            </button>
        </form>

        <hr class="my-8">

        <h3 class="text-xl font-bold mb-4 text-gray-800">Cambiar Contraseña</h3>
        <form id="passwordForm" class="space-y-4">
            <div>
                <label class="block text-gray-700 mb-2">Contraseña Actual</label>
                <input type="password" name="current_password" required
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-green-500">
            </div>

            <div>
                <label class="block text-gray-700 mb-2">Nueva Contraseña</label>
                <input type="password" name="new_password" required
                    class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:border-green-500">
            </div>

            <button type="submit"
                class="w-full bg-gray-600 text-white py-2 rounded-lg hover:bg-gray-700 transition duration-200">
                Cambiar Contraseña
            </button>
        </form>
    </div>
</div>
{% endblock %}